/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
  line-height: 2;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1.5rem;
}
.container {
  background-color: #445c3c;
}
.container .to_top {
  background-image: url(../img/up.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 1rem;
  padding: 30px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #c9d99e;
  -webkit-box-shadow: 3px 3px 5px 6px black;
  -moz-box-shadow: 3px 3px 5px 6px black;
  box-shadow: 3px 3px 5px 6px black;
}
@media (max-width: 500px) {
  .container .to_top {
    padding: 20px;
    left: 10px;
  }
}
.header_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.header_container .navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  background: #fae8c8;
}
.header_container .navigation .nav_left {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}
@media (max-width: 800px) {
  .header_container .navigation .nav_left {
    width: 50%;
    justify-content: flex-end;
  }
}
@media (max-width: 500px) {
  .header_container .navigation .nav_left {
    width: 100%;
    justify-content: center;
    background-color: #445c3c;
  }
}
.header_container .navigation .nav_left a button {
  padding: 20px;
  color: #445c3c;
  background: #fae8c8;
  transition: 500ms;
  border: none;
  outline: none;
  font-size: 1.6rem;
}
.header_container .navigation .nav_left a button:hover {
  color: #fae8c8;
  background: #445c3c;
}
@media (max-width: 500px) {
  .header_container .navigation .nav_left a button {
    padding: 20px;
    color: #fae8c8;
    background: #445c3c;
    transition: 500ms;
    border: none;
    outline: none;
    font-size: 1.6rem;
  }
  .header_container .navigation .nav_left a button:hover {
    color: #445c3c;
    background: #fae8c8;
  }
}
.header_container .navigation .nav_center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-image: url(../img/icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px;
}
@media (max-width: 800px) {
  .header_container .navigation .nav_center {
    margin: 10px 0px;
    padding: 30px;
    width: 100%;
    order: -1;
  }
}
.header_container .navigation .nav_right {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}
@media (max-width: 800px) {
  .header_container .navigation .nav_right {
    width: 50%;
    justify-content: flex-start;
  }
}
@media (max-width: 500px) {
  .header_container .navigation .nav_right {
    width: 100%;
    justify-content: center;
  }
}
.header_container .navigation .nav_right a button {
  padding: 20px;
  color: #445c3c;
  background: #fae8c8;
  transition: 500ms;
  border: none;
  outline: none;
  font-size: 1.6rem;
}
.header_container .navigation .nav_right a button:hover {
  color: #fae8c8;
  background: #445c3c;
}
.header_container .navigation .nav_right a #sign_up:hover {
  background-color: #fda77f;
}
.footer_container {
  width: 100%;
  background-color: #fae8c8;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.footer_container .footer {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.footer_container .footer .left_footer {
  width: 50%;
  height: 100px;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin: 10px 0px;
}
@media (max-width: 1200px) {
  .footer_container .footer .left_footer {
    background-position: right;
  }
}
@media (max-width: 800px) {
  .footer_container .footer .left_footer {
    width: 100%;
    background-position: center;
  }
}
.footer_container .footer .right_footer {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 800px) {
  .footer_container .footer .right_footer {
    width: 100%;
    justify-content: space-around;
    background-color: #445c3c;
  }
}
.footer_container .footer .right_footer img {
  margin: 5px 0;
  height: 60px;
  width: auto;
}
.body_container {
  background-color: #445c3c;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.body_container .hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-image: url(../img/park.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body_container .hero .hero_content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.body_container .hero .hero_content h1 {
  color: white;
  text-shadow: 3px 3px 2px #445c3c;
  font-weight: 800;
  text-align: center;
}
@media (max-width: 500px) {
  .body_container .hero .hero_content h1 {
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 20px;
  }
}
.body_container .hero .hero_content a {
  text-decoration: none;
}
.body_container .hero .hero_content button {
  padding: 10px;
  width: 50%;
  max-width: 300px;
  min-width: 150px;
  border-radius: 2rem;
  background: #c9d99e;
  transition: 500ms;
  outline: none;
  border: solid white 2px;
  box-shadow: 3px 3px 3px white, -3px 3px 3px white, 3px -3px 3px white, -3px -3px 3px white;
}
.body_container .hero .hero_content button:hover {
  background: #f2f6e7;
  margin: 10px;
  box-shadow: 5px 5px 5px #c9d99e, -5px 5px 5px #c9d99e, 5px -5px 5px #c9d99e, -5px -5px 5px #c9d99e;
}
.body_container .hero .hero_content button img {
  width: 70%;
}
.body_container .hero_two {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-image: url(../img/park.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body_container .hero_two .hero_content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.body_container .hero_two .hero_content h1 {
  color: white;
  text-shadow: 3px 3px 2px #445c3c;
  font-weight: 800;
  text-align: center;
}
@media (max-width: 500px) {
  .body_container .hero_two .hero_content h1 {
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 20px;
  }
}
.body_container .hero_two .hero_content a {
  text-decoration: none;
}
.body_container .hero_two .hero_content button {
  padding: 10px;
  width: 50%;
  max-width: 300px;
  min-width: 150px;
  border-radius: 2rem;
  background: #c9d99e;
  transition: 500ms;
  outline: none;
  border: solid white 2px;
  box-shadow: 3px 3px 3px white, -3px 3px 3px white, 3px -3px 3px white, -3px -3px 3px white;
}
.body_container .hero_two .hero_content button:hover {
  background: #f2f6e7;
  margin: 10px;
  box-shadow: 5px 5px 5px #c9d99e, -5px 5px 5px #c9d99e, 5px -5px 5px #c9d99e, -5px -5px 5px #c9d99e;
}
.body_container .hero_two .hero_content button img {
  width: 70%;
}
.body_container .hero_two .hero_two_content {
  max-width: 550px;
  width: 50%;
  background-color: rgba(255, 254, 254, 0.877);
  border-radius: 2rem;
  padding: 10px;
}
@media (max-width: 800px) {
  .body_container .hero_two .hero_two_content {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .body_container .hero_two .hero_two_content {
    width: 90%;
  }
}
.body_container .hero_two .hero_two_content h2,
.body_container .hero_two .hero_two_content h4 {
  color: #445c3c;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 500px) {
  .body_container .hero_two .hero_two_content h2 {
    font-size: 3rem;
  }
}
.body_container .hero_two .hero_two_content h4 {
  font-style: italic;
}
.body_container .search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  background: #fae8c8;
  padding-bottom: 20px;
}
.body_container .search h2 {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 500px) {
  .body_container .search h2 {
    line-height: 1.5;
    font-size: 3rem;
  }
}
.body_container .search p {
  padding: 10px 20px;
  max-width: 600px;
}
.body_container .search form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.body_container .search form input[type=text] {
  width: 30%;
  outline: none;
  border: 2px solid #fda77f;
  border-radius: 5px;
  font-size: 1.6rem;
  background-color: white;
  background-image: url('../img/search.png');
  background-size: 30px 30px;
  background-position: 2% 50%;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  -webkit-box-shadow: 3px 3px 5px 6px #fda77f;
  -moz-box-shadow: 3px 3px 5px 6px #fda77f;
  box-shadow: 3px 3px 5px 6px #fda77f;
}
.body_container .search form input[type=text]:focus {
  width: 50%;
}
@media (max-width: 500px) {
  .body_container .search form input[type=text] {
    width: 70%;
  }
  .body_container .search form input[type=text]:focus {
    width: 90%;
  }
}
.body_container .horizontal {
  width: 100%;
  background-color: #445c3c;
  max-width: 1000px;
  overflow: auto;
  white-space: nowrap;
  margin: 0 5%;
}
.body_container .horizontal .horizontal_content {
  width: 250px;
  height: 250px;
  display: inline-block;
  text-align: center;
}
.body_container .horizontal .horizontal_content h4 {
  color: #fda77f;
  width: 90%;
}
.body_container .horizontal .horizontal_content .img_container {
  height: 80%;
  width: 90%;
}
.body_container .horizontal .horizontal_content .img_container img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
.about_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.about_container .about {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.about_container .about h1 {
  color: #fda77f;
}
.about_container .about p {
  width: 60%;
  font-size: 2rem;
  color: #fae8c8;
}
@media (max-width: 800px) {
  .about_container .about p {
    width: 75%;
  }
}
.about_container .team {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}
.about_container .team .box {
  border-radius: 2rem;
  margin: 10px 0;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.about_container .team .box .left_box {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .about_container .team .box .left_box {
    width: 100%;
  }
}
.about_container .team .box .left_box h2 {
  text-align: center;
  font-weight: bold;
}
@media (max-width: 500px) {
  .about_container .team .box .left_box h2 {
    line-height: 1.5;
    font-size: 3rem;
  }
}
.about_container .team .box .left_box h3 {
  text-align: center;
  font-style: italic;
}
@media (max-width: 500px) {
  .about_container .team .box .left_box h3 {
    font-size: 2.5rem;
  }
}
.about_container .team .box .left_box a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px #fda77f;
}
.about_container .team .box .left_box p {
  width: 90%;
  text-align: center;
}
.about_container .team .box .right_box {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .about_container .team .box .right_box {
    width: 100%;
  }
}
.about_container .team .box .right_box img {
  height: 200px;
  width: auto;
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px 2px #445c3c;
}
.about_container .team .box:nth-child(odd) {
  flex-direction: row-reverse;
  background-color: #c9d99e;
}
@media (max-width: 800px) {
  .about_container .team .box:nth-child(odd) {
    flex-direction: column-reverse;
  }
}
.about_container .team .box:nth-child(even) {
  background-color: #fae8c8;
}
@media (max-width: 800px) {
  .about_container .team .box:nth-child(even) {
    flex-direction: column-reverse;
  }
}
