.about_container {

    .about {
        width: 100%;
    }
    .about_us {
        .flex();

        .us {
            width: 100%;
            max-width: 1000px;
            height: 300px;
            .flex();

            .box {
                width: 50%;
                padding: 20px;
            }
            .img {
                width: 50%;
                height: 90%;
                
            }
        }
        .cameron {
            background-color: @lightPeach;
        }
        .sierra {
            flex-direction: row-reverse;
            background-color: @lightGreen;
        }
        .dante {
            background-color: @peach;
        }
        .suffyan {
            flex-direction: row-reverse;
            background-color: @lightPeach;
        }
        .preston {
            background-color: @lightGreen;
        }
        .modurotolu {
            flex-direction: row-reverse;
            background-color: @peach;
        }

    }
}
