// Display Flex 

.flex(@f-flow: row wrap, @j-content: center, @a-items: center) {
	display: flex;
	flex-flow: @f-flow;
	justify-content: @j-content;
	align-items: @a-items;
}

// Button Style
.button() {
    padding: 20px;
    // border-radius: 1rem;
    color: @darkGreen;
    background: @lightPeach;
    transition: 500ms;
    border: none;
    outline: none;
    &:hover {
        color: @lightPeach;
        background: @darkGreen;
    }
}

// Hero Image

.hero() {
    width: 100%;
    height: 40vh;
    background-image: url(../img/park.jpg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
