// Display Flex 

.flex(@f-flow: row wrap, @j-content: center, @a-items: center) {
	display: flex;
	flex-flow: @f-flow;
	justify-content: @j-content;
	align-items: @a-items;
}

// Button Style

.button(@color, @backGround) {
    padding: 20px;
    color: @color;
    background: @backGround;
    transition: 500ms;
    border: none;
    outline: none;
    font-size: 1.6rem;
    &:hover {
        color: @backGround;
        background: @color;
    }
}

// Hero Image

.hero() {
    width: 100%;
    height: 40vh;
    background-image: url(../img/park.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// Search bar
.search() {
    width: 30%;
    outline: none;
    border: 2px solid @peach;
    border-radius: 4px;
    font-size: 1.6rem;
    background-color: white;
    background-image: url('../img/search.png');
    background-size: 30px 30px;
    background-position: 2% 50%; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    .shadow(@peach);
    &:focus {
        width: 50%;
    }
}

// Box Shadow

.shadow(@color) {
    -webkit-box-shadow: 3px 3px 5px 6px @color;
    -moz-box-shadow: 3px 3px 5px 6px @color;
    box-shadow: 3px 3px 5px 6px @color;
}