.header_container {
    width: 100%;

    .navigation {
        .flex(row wrap, space-between, center);
        width: 100%;
        background: @lightPeach;

        .nav_left {
            .flex(row wrap, flex-start, center);
            width: 40%;

            a button {
                .button(@darkGreen, @lightPeach);
            }
        }
        .nav_center {
            .flex();
            width: 20%;
        }
        .nav_right {
            .flex(row wrap, flex-end, center);
            width: 40%;

            a button {
                .button(@darkGreen, @lightPeach);
            }
        }
    }
}
