.header_container {
    width: 100%;
    .flex();

    .navigation {
        .flex(row wrap, space-between, center);
        width: 100%;
        max-width: 1000px;
        background: @lightPeach;

        .nav_left {
            .flex(row wrap, flex-start, center);
            width: 30%;

            @media @tablet {
                width: 50%;
                justify-content: flex-end;
            }

            @media @mobile {
                width: 100%;
                justify-content: center;
                background-color: @darkGreen;
            }

            a button {
                .button(@darkGreen, @lightPeach);
                @media @mobile {
                    .button(@lightPeach, @darkGreen);
                }
            }
            
        }
        .nav_center {
            .flex();
            width: 30%;
            background-image: url(../img/icon.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            padding: 25px;

            @media @tablet {
                margin: 10px 0px;
                padding: 30px;
                width: 100%;
                order: -1;
            }

        }
        .nav_right {
            .flex(row wrap, flex-end, center);
            width: 30%;

            @media @tablet {
                width: 50%;
                justify-content: flex-start;
            }

            @media @mobile {
                width: 100%;
                justify-content: center;
            }

            a button {
                .button(@darkGreen, @lightPeach);
            }
            
            a #sign_up {
                &:hover {
                    background-color: @peach;
                }
            }
        }
    }
}
