.header_container {
    width: 100%;

    .navigation {
        .flex(row wrap, space-between, center);
        width: 100%;

        .nav_left {
            .flex();
            width: 40%;
        }
        .nav_center {
            .flex();
            width: 20%;
        }
        .nav_right {
            .flex();
            width: 40%;
        }
    }
}
